/* change background color */
#gamePage{
    background-color: #252525;
    background-image: none;
}

#topBox{
    height: 65px;
    background-color: #CC9f3d;
    line-height: 65px;
    text-align: center;
}

#topBox span{
    line-height: 65px;
}


/* ----------------PlayBox------------------- */

#playerInfoBox{
    margin: 80px auto 60px;
    text-align: center;
}

#playerInfoBox #info1{
    margin-bottom: 30px;
}

#playerInfoBox #activePlayerInfo{
    color: #CC9f3d;
}

#playerInfoBox #selectionInfo{
    color: #CC9f3d;
}

#confirmButton{
    margin: 0px auto;
}

#quitGameButton{
    margin: 100px auto ;
}


/* ----------------RoundBox------------------- */

.RoundBox{
    text-align: center;
}

.RoundBox .Icon{
    display: block;
    margin: 65px auto 50px;
}

.RoundBox .RoundInfo{
    color: #CC9f3d;
}

.RoundBox .ContinueButton{
    margin: 55px auto;
}

/* ----------------FinalResultBox------------------- */

.FinalResultBox{
    text-align: center;
}

.FinalResultBox #finalWinIcon{
    display: block;
    margin: 75px auto 60px;
}

.FinalResultBox #finalLoseIcon{
    display: block;
    margin: 95px auto 85px;
}

.FinalResultBox #scoreBox{
    margin-top: 35px;
}

.FinalResultBox .ScoreInfo{
    line-height: 50px;
}

.FinalResultBox #buttonBox{
    width: 565px;
    height: 60;
}

#winGame #buttonBox{
    margin: 90px auto 0px;
}

#loseGame #buttonBox{
    margin: 135px auto 0px
}

.FinalResultBox #buttonBox #homeButton{
    float: right;
}


